<div id="generalDivBeto" #statsContainer>
  <canvas #3Dcontainer></canvas>
  <div id="botonCambiar" (click)="toggleObject()"><h2>Cambiar</h2></div>
  <div id="fullScreenButton" (click)="fullScreen()"><h2>Full Screen</h2></div>
  <div id="runAnimationButton" (click)="prepareCrossFade( actualAction, runb_aimAction, 0.5 )"><h2>runb_aimAction</h2></div>
  <div id="actionAnimationButton" (click)="prepareCrossFade( actualAction, runb_skate, 0.5 )"><h2>runb_skate</h2></div>
  <div id="idleAnimationButton" (click)="prepareCrossFade( actualAction, idleAction, 0.5 )"><h2>Idle</h2></div>
</div>
