<div class="contactoGeneralContainer">
  <div class="logoContainer"><app-alex-logo _fontSize="2.5vw"></app-alex-logo></div>
  <div class="containerGeneralMail">
    <div class="selectorDiv">
      <h2>CONTACTO</h2>
      <h4 *ngIf="fireService.loggedUser; else loggedOut" (click)="logout()">
        Cerrar Sesión
      </h4>
      <ng-template #loggedOut>
        <div (click)="onChangeSection(false)">Correo</div>
        <div (click)="onChangeSection(true)">Cuenta Anónima</div>
      </ng-template>
    </div>
    <div *ngIf="!section;then correoContent else userContent"></div>

    <ng-template #correoContent>
      <div class="inputsDiv">
        <form (ngSubmit)="sendMessage(); contactForm.reset()" #contactForm="ngForm">
          <div>
            <label for="mail"></label>
            <input type="email" id="mail" placeholder="Tú Correo" required [(ngModel)]="model.mail" name="mail">
          </div>
          <div>
            <label for="contenido"></label>
            <textarea class="textareaContenido" placeholder="Mensaje" maxlength="500" rows="15" cols="100" id="contenido" required [(ngModel)]="model.content" name="content"></textarea>
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
        </form>
      </div>
    </ng-template>

    <ng-template #userContent>
      <div class="inputsDiv" *ngIf="!registro; else createAccount">
        <form (ngSubmit)="loginUser(); contactForm.reset()" #contactForm="ngForm">
          <div>
            <label for="user"></label>
            <input type="email" id="user" placeholder="Usuario" required [(ngModel)]="modelUser.usuario" name="mail">
          </div>
          <div>
            <label for="password"></label>
            <input  placeholder="Contraseña" id="password" required [(ngModel)]="modelUser.contrasena" name="content">
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
        </form>
        <button type="button" (click)="registro = true; reset()">Registrarse</button>
      </div>
    </ng-template>

    <ng-template #createAccount>
      <div class="inputsDiv">
      <form (ngSubmit)="createUser(); contactForm.reset()" #contactForm="ngForm">
        <div>
          <label for="userCreate"></label>
          <input type="email" id="userCreate" placeholder="Usuario" required [(ngModel)]="modelUser.usuario" name="mail">
        </div>
        <div>
          <label for="passwordCreate"></label>
          <input  placeholder="Contraseña" id="passwordCreate" required [(ngModel)]="modelUser.contrasena" name="content">
        </div>

        <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
      </form>
      <button type="button" (click)="registro = false; reset()">Login</button>
      </div>
    </ng-template>

  </div>


  <app-mini-menu></app-mini-menu>

</div>
