<div class="contactoGeneralContainer">
  <div class="logoContainer"><app-alex-logo _fontSize="2.5vw"></app-alex-logo></div>
  <div class="containerGeneralMail">
    <div class="selectorDiv">
      <h2>CONTACTO</h2>
      <div (click)="onChangeSection(false)">Correo</div>
      <div (click)="onChangeSection(true)">Cuenta Anónima</div>
    </div>
    <div *ngIf="!section;then correoContent else userContent"></div>

    <ng-template #correoContent>
      <div class="inputsDiv">
        <form (ngSubmit)="sendMessage(); contactForm.reset()" #contactForm="ngForm">
          <div>
            <label for="mail"></label>
            <input type="email" id="mail" placeholder="Tú Correo" required [(ngModel)]="model.mail" name="mail">
          </div>
          <div>
            <label for="contenido"></label>
            <textarea class="textareaContenido" placeholder="Mensaje" maxlength="500" rows="15" cols="100" id="contenido" required [(ngModel)]="model.content" name="content"></textarea>
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
        </form>
      </div>
    </ng-template>

    <ng-template #userContent>
      <div class="inputsDiv">
        <form (ngSubmit)="loginUser(); contactForm.reset()" #contactForm="ngForm">
          <div>
            <label for="user"></label>
            <input type="email" id="user" placeholder="Usuario" required [(ngModel)]="modelUser.usuario" name="mail">
          </div>
          <div>
            <label for="password"></label>
            <input  placeholder="Contraseña" id="password" required [(ngModel)]="modelUser.contrasena" name="content">
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
        </form>
      </div>
    </ng-template>

  </div>


  <app-mini-menu></app-mini-menu>

</div>
