<div class="contactoGeneralContainer">
  <div class="logoContainer"><app-alex-logo _fontSize="2.5vw"></app-alex-logo></div>
  <div class="containerGeneralMail">
    <div class="selectorDiv">
      <h2>CONTACTO</h2>
      <h4 *ngIf="fireService.loggedUser; else loggedOut" (click)="logout()">
        Cerrar Sesión
      </h4>
      <ng-template #loggedOut>
        <div (click)="onChangeSection('MAIL')"><h5 [className]="section === 'MAIL'? 'loggedOutOptions selectedSection': 'loggedOutOptions'">CORREO PERSONAL</h5></div>
        <div (click)="onChangeSection('ACCOUNTLOGIN')"><h5  [className]="section === 'ACCOUNTLOGIN' || section === 'ACCOUNTREGISTER'? 'loggedOutOptions selectedSection': 'loggedOutOptions'">USUARIO ANÓNIMO</h5></div>
      </ng-template>
    </div>

    <div [ngSwitch]="section" class="inputsDiv">
      <ng-container *ngSwitchCase="'MAIL'">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <form (ngSubmit)="sendMessage(); contactForm.reset()" #contactForm="ngForm" class="contactoForms">
          <div class="mailAndAlternative">
            <input type="email" id="mail" placeholder="Tú Correo" required [(ngModel)]="model.mail" name="mail">
            <div><h5>¿No te sientes comodo dando tu correo?</h5><h5 (click)="onChangeSection('ACCOUNTREGISTER')">CREAR USUARIO ANONIMO</h5></div>
          </div>
          <div class="textAreaContainerDiv">
            <label for="contenido"></label>
            <textarea class="textareaContenido" placeholder="Mensaje" maxlength="1000" id="contenido" required [(ngModel)]="model.content" name="content"></textarea>
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">ENVIAR</button>
        </form>
    </ng-container>
      <ng-container *ngSwitchCase="'ACCOUNTLOGIN'">
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div  class="loginContainer">
        <form (ngSubmit)="loginUser(modelUser); contactForm.reset()" #contactForm="ngForm">
          <div>
            <label for="user"></label>
            <input type="email" id="user" placeholder="USUARIO" required [(ngModel)]="modelUser.usuario" name="mail">
          </div>
          <div>
            <label for="password"></label>
            <input type="password"  placeholder="CONTRASEÑA" id="password" required [(ngModel)]="modelUser.contrasena" name="content">
          </div>

          <button type="submit" [disabled]="!contactForm.form.valid">CONTINUAR</button>
        </form>

        <button type="button" (click)="onChangeSection('ACCOUNTREGISTER'); contactForm.reset()">¿Aun no tienes tu usuario anonimo?</button>
        </div>
    </ng-container>
      <ng-container *ngSwitchCase="'ACCOUNTREGISTER'">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        <div  class="loginContainer">
          <form (ngSubmit)="createUser(); CreateUserForm.reset()" #CreateUserForm="ngForm">
            <div>
              <label for="userCreate"></label>
              <input type="text" id="userCreate" placeholder="Usuario" required [(ngModel)]="modelUser.usuario" name="usuario">
            </div>
            <div>
              <label for="passwordCreate"></label>
              <input type="password"  placeholder="Contraseña" id="passwordCreate" required [(ngModel)]="modelUser.contrasena" name="contrasena">
            </div>

            <button type="submit" [disabled]="!CreateUserForm.form.valid">CREAR CUENTA</button>
          </form>
          <button type="button" (click)="onChangeSection('ACCOUNTLOGIN'); CreateUserForm.reset()">LOGIN</button>
        </div>
    </ng-container>
      <ng-container *ngSwitchCase="'CHAT'">
        <div class="chatContactContainer">
          <div *ngIf="chatDoc" class="messagesIfContainer">
          <h2  *ngFor="let message of chatDoc.chat" ngClass="{{(message.by == 'user')? 'userContactMessage': 'adminMessage'}}">{{message.message}}</h2>
          </div>
        </div>
        <div class="inputChatContactDiv"><input type="text" placeholder="Escribe un Mensaje" #box (keyup)="onKey(box.value)"><button type="button" (click)="sendChatMessage(); box.value = ''">send</button></div>
      </ng-container>
    </div>

  </div>


</div>
