.contactoGeneralContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logoContainer {
  position: absolute;
  left: 46.75%;
  margin-top: 5%;
}

.containerGeneralMail {
  position: absolute;
  width: 58.3%;
  height: 45%;
  bottom: 25%;
  left: 16.7%;
  display: flex;
}

.selectorDiv {
  flex-grow: 1;
  width: 10%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.selectorDiv h2 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 3vw;
  font-weight: 700;
}

.loggedOutOptions {
  margin: 0.3vh 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  font-weight: 600;
}

.loggedOutOptions:hover {
  cursor: pointer;
}

.inputsDiv {
  flex-grow: 3;
  width: 10%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}

.inputsDiv p {
  margin: 1.5vh auto;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.mailAndAlternative {
  display: flex;
  width: 100%;
}

.mailAndAlternative input {
  flex-grow: 1.5;
  margin-right: 2%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 2%;
  border-radius: 0.3vh;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  font-weight: 500;
}

.mailAndAlternative div {
  flex-grow: 1;
}

.mailAndAlternative div h5 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 0.8vw;
  font-weight: 500;
}

.mailAndAlternative div h5:last-child {
  font-size: 1vw;
  font-weight: 600;
  color: rgba(232,115,35, 1);
}

.mailAndAlternative div h5:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contactoForms {
  flex-grow: 1;
  display: flex;
  margin-top: 1vh;
  flex-direction: column;
  align-items: flex-end;
}

.contactoForms button {
  padding: 1vh 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  background: none;
  border: none;
}

.contactoForms button:hover {
  cursor: pointer;
}


.textAreaContainerDiv {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  margin-top: 2vh;
  display: flex;
}

.textareaContenido {
  resize: none;
  box-sizing: border-box;
  flex-grow: 1;
  width: 10%;
  padding: 0.7vh 0.7vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  border: none;
  border-radius: 0.4vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer form input {
  margin: 0.5vh 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 0.3vh;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  padding: 0.5vh 1vw;
}

.loginContainer form:first-child {
  margin: 1vh 0 0 0;
}

.loginContainer form button {
  margin: 3vh 0 1vh 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  background: none;
  border: solid rgba(232,115,35, 1) 0.25vh;
  border-radius: 0.3vh;
  color: rgba(0, 0, 0, 0.8);
}

.loginContainer form button:hover {
  text-decoration: none;
  background-color: rgba(232,115,35, 1);
  color: white;
  cursor: pointer;
}

.loginContainer form button:disabled {
  border: solid rgba(232,115,35, 0.5) 0.25vh;
  cursor: not-allowed;
  text-decoration: none;
}
.loginContainer button {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  background: none;
  border: none;
}

.loginContainer button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.selectedSection {
  color: rgba(232,115,35, 1);
}

.inputChatContactDiv {
  height: 10%;
  display: flex;
}

.inputChatContactDiv input {
  padding-left: 1%;
  padding-right: 1%;
  flex-grow: 15;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 0.2vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.inputChatContactDiv button {
  flex-grow: 1;
  margin-left: 1%;
  box-sizing: border-box;
  border: solid rgba(232,115,35, 1) 0.1vw;
  border-radius: 0.3vw;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.6)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  font-size: 1vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.inputChatContactDiv button:hover {
  background: rgba(232,115,35, 1) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(255,255,255,1)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  cursor: pointer;
}

.chatContactContainer {
  width: 100%;
  height: 90%;
  border-radius: 0.1vw;
  background-color: rgba(0, 0, 0, 0.01);
  outline: solid rgba(0, 0, 0, 0.1) 0.1vw;
  margin-bottom: 1vh;
}

.messagesIfContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.messagesIfContainer-individualMessages-wrapper {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.messagesIfContainer-individualMessages-shape {
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  max-width: 45%;
}

.messagesIfContainer-individualMessages-shape h2 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.userContactMessage {
  align-self: flex-end;
  color: white;
  background-color: rgba(232,115,35, 1);
}

.adminMessage {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}


