<div class="logoContainer"><app-alex-logo></app-alex-logo></div>

<div class="container">
 <!-- <div class="title-wrapper">
    <h2>EVALÚATE</h2>
  </div> -->
  <div class="info-wrapper">
    <h3>Averigua en menos de 1 minuto si tienes un problema con el consumo de drogas; cambia la palabra <span style="color: white">alcohol</span> por la sustancia que elijas.</h3>
    <h5>Contesta <span style="background-color: rgba(232,115,35, 1); color: white; padding: 0.1vh 0.3vw;">SI</span> o <span style="background-color: rgba(232,115,35, 1); color: white; padding: 0.1vh 0.3vw;">NO</span> a las siguientes preguntas:</h5>
    <ul>
      <li>¿Alguna vez ha sentido la necesidad de controlar o bajar la cantidad de alcohol que consume?</li>
      <li>¿Alguna vez se ha sentido usted incómodo porque alguien criticaba su forma de tomar?</li>
      <li>¿Alguna vez se ha sentido avergonzado o culpable de su forma de tomar?</li>
      <li>¿Alguna vez se ha tomado usted un trago temprano en la mañana para aliviar los efectos del guayabo o resaca de la noche anterior?</li>
    </ul>
    <h4>Si la respuesta a alguna de estas preguntas es SI, entonces preguntate si sucedió en los últimos 12 meses</h4>
    <ul>
      <li>Si respondiste que SI a 1 ó 2 preguntas el último año es posible que estés abusando del alcohol o la sustancia que hayas elegido.</li>
      <li>Si respondiste que SI a 3 ó 4 preguntas en el último año es posible que tengas un problema de dependencia al alcohol o la sustancia que hayas elegido.</li>
    </ul>
    <h1>Si crees que estás teniendo dificultades con el alcohol o las drogas y quieres aclarar tus dudas o inquietudes al respecto pide una cita en BIENESTAR UNIVERSITARIO</h1>
  </div>
</div>
