.container {
  left: 20.8%;
  top: 20%;
  position: absolute;
  width: 58.3%;
  height: 50%;
  background-color: cadetblue;
  display: flex;
}

.title-wrapper {
  background-color: red;
  flex-grow: 2.8;
}

.title-wrapper h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.info-wrapper {
  background-color: olive;
  flex-grow: 10;
}
