.chatDivGeneral {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 50vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.superiorDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messagesContainer {
  background-color: paleturquoise;
  overflow: auto;
  height: 100%;
}

.chatBar {
  height: 10%;
}

.betoMessage {

}

.userMessage{
  color: red;
  text-align: right;
}

.hiddenOptionsBar {
  height: 15%;
  background: brown;
}
