<div class="chatDivGeneral">

  <div class="superiorDiv">
   <button type="button" [hidden]="!showSpice" [disabled]="estado" (click)="setSustancia('spice')">Fumar Spice</button>
   <p [hidden]="!estado">Estado: {{estado}}</p>
  </div>



  <div class="messagesContainer" #scrollMePapu>
    <div class="messagesIfContainer-individualMessages-wrapper" *ngFor="let message of messagesArray">
      <div class="messagesIfContainer-individualMessages-shape" ngClass="{{message.isBeto? 'betoMessage': 'userMessage'}}">
        <h2 >{{message.message}}</h2>
      </div>
    </div>
  </div>

  <div class="chatBar">
    <input type="text" placeholder="Escribe un Mensaje">
    <button type="button"></button>
  </div>

  <ng-container *ngIf="optionAText || optionBText || optionCText || optionDText">
    <div  class="hiddenOptionsBar">
      <div class="hiddenOptionsBar-centeredWrapper">
        <button type="button" [hidden]="!optionAText" (click)="clicked(optionAText, 'a')">{{optionAText || 'opcion 1 - pendiente'}}</button>
        <button type="button" [hidden]="!optionBText" (click)="clicked(optionBText, 'b')">{{optionBText || 'opcion 2 - pendiente'}}</button>
        <button type="button" [hidden]="!optionCText" (click)="clicked(optionCText, 'c')">{{optionCText || 'opcion 3 - pendiente'}}</button>
        <button type="button" [hidden]="!optionDText" (click)="clicked(optionDText, 'd')">{{optionDText || 'opcion 4 - pendiente'}}</button>
      </div>
    </div>
  </ng-container>

</div>

<div class="chat-logoAlex-warp"><div class="chat-logoAlex-logo"><app-alex-logo></app-alex-logo></div><h5 class="chat-logoAlex-text">CHATEANDO</h5></div>
