.chatDivGeneral {
  position: absolute;
  box-sizing: border-box;
  padding: 1%;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50vh;
  border: solid rgba(232,115,35, 1) 0.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.superiorDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messagesContainer {
  margin-bottom: 1vh;
  overflow: auto;
  height: 40%;
  flex-grow: 1;
}

.messagesIfContainer-individualMessages-wrapper {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.messagesIfContainer-individualMessages-shape {
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  max-width: 45%;
}

.messagesIfContainer-individualMessages-shape h2 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.chatBar {
  height: 10%;
  display: flex;
}


.chatBar input {
  padding-left: 1%;
  padding-right: 1%;
  flex-grow: 15;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 0.2vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.chatBar button {
  flex-grow: 1;
  margin-left: 1%;
  box-sizing: border-box;
  border: solid rgba(232,115,35, 1) 0.1vw;
  border-radius: 0.3vw;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.6)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  font-size: 1vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.chatBar button:hover {
  background: rgba(232,115,35, 1) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(255,255,255,1)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  cursor: pointer;
}

.betoMessage {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.userMessage{
  align-self: flex-end;
  color: white;
  background-color: rgba(232,115,35, 1);
}

.hiddenOptionsBar {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

.hiddenOptionsBar-centeredWrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.hiddenOptionsBar-centeredWrapper button {
  margin: 0.5vh 1%;
  padding: 0.5vh 0.5vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  background-color: transparent;
  border: solid rgba(232,115,35, 1) 0.15vw;
  border-radius: 0.3vw;
}

.hiddenOptionsBar-centeredWrapper button:hover {
  background-color: rgba(232,115,35, 1);
  color: white;
}

.chat-logoAlex-warp {
  position: absolute;
  left: 46%;
  top: 5%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.chat-logoAlex-logo {
  flex-grow: 1;
  height: 10%;
}

.chat-logoAlex-text {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.5vw;
  color: rgba(216, 116, 48, 1);
}
