<div class="menuDiv" (click)="menuClick()">

  <div class="routerSectionDiv">
    <div class="borderLine"></div>
  </div>


  <div class="routerSectionDiv"  >
    <div class="borderLine"></div>
    <div class="MenuContainerTextAndDivs">
      <div>
        <h2>MENÚ</h2>
      </div>
      <div class="linesContainer">
        <div class="superiorLine"></div>
        <div class="inferiorLine"></div>
      </div>
    </div>
  </div>




  <div class="routerSectionDiv">
    <div class="borderLine"></div>
  </div>

</div>

<app-dropdown-menu [show]="showDropDownMenu"></app-dropdown-menu>
