.interactionContainer {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listContainer {
  width: 33%;
  height: 90%;
  box-sizing: border-box;
  border-right: solid rgba(215, 215, 215, 1);
  border-width: 0.15vw;
  display: flex;
  justify-content: flex-end;
}

.listContainer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: auto;
}

.listContainer ul li {
  margin: 1vh 0 1vh 0.5vw;
  list-style-type: none;
}

.listContainer ul li:hover {
  background-color: rgba(237, 134, 72, 1);
  cursor: pointer;
}

.liItemActive {
  background-color: rgba(237, 134, 72, 1);
}

.listContainer ul li h5 {
  margin: 0;
  padding: 0.2vh 1vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  text-align: right;
  color: rgba(31, 20, 15, 1);
}

.characterContainer {
  width: 33%;
  height: 100%;
}

.characterGeneralContainer {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterAnimateDiv {
  width: 30%;
  height: 0;
  padding-bottom: 54%;
  background-image: url("/assets/SpriteSheet/charzera.png");
  background-position: 0 0;
  background-size: 1400%;
  display: block;
  animation: idle 1s steps(13) infinite;
  /*animation: run 1s steps(13) infinite;*/
}

.characterAnimateRun{
  animation: run 1s steps(13);
}

.characterAnimateJump{
  animation: jump 1s steps(13);
}


@keyframes idle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes run {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes jump {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.faseConsumoContainer {
  height: 10%;
  width: 100%;
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.faseConsumoContainer p {
  margin: 0 auto;
  text-align: center;
}

.containerFaseDiv {
  display: flex;
  justify-content: space-around;
}

.substanceContainer {
  width: 33%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border-left: solid rgba(215, 215, 215, 1);
  border-width: 0.15vw;
}

.substanceDiv {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 10%;
  flex-grow: 1;
}

.presentationSelectorContainer {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentationSelectorContainer h3{
  margin: 0;
  box-sizing: border-box;
  border-bottom: solid rgba(215, 215, 215, 1);
  border-width: 0.25vh;
  color: rgba(215, 215, 215, 1);
  font-weight: 500;
  font-size: 1vw;
}

.arrowsPresentationSelectorContainer {
  margin-top: 1vh;
  width: 80%;
  height: 10%;
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
}

.arrowsPresentationSelectorContainer div {
  margin: 1%;
  width: 10%;
}

.substancePresentationText {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.substancePresentationText h5 {
  margin: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: rgba(81, 80, 80, 1);
}

.arrowPresentation {
  flex-grow: 1;
}

.arrowPresentationLeft {
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.arrowPresentationRight {
  transform: rotate(180deg);
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.presentationImageContainer {
  width: 100%;
  height: 100%;
}

.presentationImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leftArrow {
  float: left;
}

.substanceSelectorGeneralDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.substanceSelectorGeneralDiv h3 {
  margin: 0 0 0.5vh 0;
  box-sizing: border-box;
  border-bottom: solid rgba(215, 215, 215, 1);
  border-width: 0.25vh;
  color: rgba(215, 215, 215, 1);
  font-weight: 500;
  font-size: 1vw;
  text-align: center;
}

.substanceSelectorGeneral {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  display: flex;
}
.leftArrow {
  width: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.leftArrow div {
  width: 40%;
  height: 30%;
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.rightArrow {
  width: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rightArrow div {
  width: 40%;
  height: 30%;
  transform: rotate(180deg);
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.buttonProbar {
  flex-grow: 0.05;
  padding: 0.2vh 1vw;
  background: rgba(237, 134, 72, 0);
  box-sizing: border-box;
  border: solid rgba(237, 134, 72, 1) 0.1vw;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 0.8vw;
  border-radius: 1.5vh;
}

.buttonProbar:hover {
  border: solid rgba(237, 134, 72, 0) 0.1vw;
  background: rgba(237, 134, 72, 1);
  color: rgba(255, 255, 255, 1);
}

.buttonProbar:disabled {
  border: solid rgba(237, 134, 72, 0) 0.1vw;
  background: rgba(237, 134, 72, 0.8);
  color: rgba(255, 255, 255, 0.8);
}



.dosisContainer {
  width: 10%;
  flex-grow: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repeatedImages {
  margin: 1%;
  flex-grow: 1;
  min-width: 20%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.eyesInfoDiv {
  position: absolute;
  top: 1%;
  left: 35%;
  width: 10%;
  height: 15%;
  background: gray;
}

.heardInfoDiv {
  position: absolute;
  top: 1%;
  left: 45%;
  width: 10%;
  height: 15%;
  background: darkmagenta;
}

.headInfoDiv {
  position: absolute;
  top: 1%;
  left: 55%;
  width: 10%;
  height: 15%;
  background: orange;
}

#p5CanvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.panelInfoGeneralContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
}

.completeInfoWindowBlack {
  pointer-events: all;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.completeInfoWindow {
  pointer-events: all;
  position: absolute;
  left: 16.67%;
  top: 10%;
  width: 75%;
  height: 70%;
  transform: translateY(90vh);
  background-color: cornflowerblue;
}

.scrollIcon {
  position: absolute;
  left: 47%;
  bottom: 5%;
  width: 6%;
  height: 6%;
  background: url("/assets/general/ScrollSvg.svg") no-repeat center;
  background-size: contain;
}
