<div class="interactionContainer">

  <div class="listContainer">
    <ul>
      <li>Cafeína</li>
      <li>NicotinaC</li>
    </ul>
  </div>
  <div class="characterContainer">
    <div class="characterGeneralContainer">
      <div class="characterAnimateDiv">

      </div>
    </div>
    <div class="faseConsumoContainer">
      <p>Consumo</p>
      <div class="containerFaseDiv">
        <button type="button">Experimental</button>
        <button type="button">Regular</button>
        <button type="button">Abusivo</button>
      </div>
    </div>
  </div>
  <div class="substanceContainer">
    <div class="substanceDiv">
    </div>

    <div class="substanceDiv">
    </div>

    <div class="substanceDiv">
    </div>

    <button class="buttonProbar">
      Probar
    </button>
  </div>

</div>
