<div class="interactionContainer" (wheel)="onMouseWheel($event)">

  <div class="listContainer">
    <ul>
      <li *ngFor="let sustancita of sustancia" (click)="changeSelectedSubstance(sustancita)" [className]="selectedSubstance === sustancita ? 'liItemActive' : 'liItemNoActive'">
        <h5>{{ sustancita.nombre }}</h5>
      </li>
    </ul>
  </div>
  <div class="characterContainer">
    <div class="characterGeneralContainer">
      <div [ngClass]="clase" #AnimatedCharacter></div>
      <div id="p5CanvasContainer" #p5CanvasContainer></div>
    </div>
  <div class="faseConsumoContainer">
      <p>CONSUMO</p>
      <div class="containerFaseDiv">
        <button *ngFor="let fase of selectedSubstance.fases" [disabled]="animationRunning" [className]="selectedFase === fase? 'Fase activeFase': 'Fase'" (click)="cambiarFase(fase)">{{fase.name}}</button>
      </div>
    </div>
  </div>
  <div class="substanceContainer">
    <div class="substanceDiv presentationSelectorContainer">
      <h3>PRESENTACIÓN DE SPA</h3>
      <div class="arrowsPresentationSelectorContainer">
        <div [hidden]="(selectedSubstance.presentacion.length <= 1)" class="arrowPresentation arrowPresentationLeft" (click)="changePresentationImage('iz')"></div>
        <div class="substancePresentationText"><h5>{{selectedPresentation.tipo}}</h5></div>
        <div [hidden]="(selectedSubstance.presentacion.length <= 1)" class="arrowPresentation arrowPresentationRight" (click)="changePresentationImage('der')"></div>
      </div>

      <!--<div *ngFor="let sustancitaPresenteishon of selectedSubstance.presentacion" (click)="changePresentationImage(sustancitaPresenteishon)">
        <p>{{ sustancitaPresenteishon.tipo }}</p>
      </div>-->
    </div>

    <div class="substanceDiv">
      <div class="presentationImageContainer">
        <img [src]="selectedPresentation.img">
      </div>
    </div>

    <div class="substanceDiv substanceSelectorGeneralDiv">
      <h3>DOSIS</h3>
      <div class="substanceSelectorGeneral">
        <div class="leftArrow">
          <div (click)="eliminateDosis()"></div>
        </div>
        <div class="dosisContainer">
          <div *ngFor='let in of counter(actualDosis)' class="repeatedImages" [style.backgroundImage]="'url('+ selectedPresentation.img +')'"></div>
        </div>
       <div class="rightArrow">
         <div (click)="addDosis()"></div>
       </div>
      </div>
    </div>

    <button class="buttonProbar" [disabled]="animationRunning" (click)="probarSustancia()">
      PROBAR
    </button>
  </div>

</div>

<div class="panelInfoGeneralContainer" (wheel)="onMouseWheel($event)" [hidden]="hideContainer">
  <div class="completeInfoWindowBlack" [@opacityAnimation]="showAllInfo" (@opacityAnimation.done)="onAnimationEnd($event)" (@opacityAnimation.start)="onAnimationStart($event)" (click)="closeOrOpenInfoPanel(false)"></div>
  <div class="completeInfoWindow" [@transformAnimation]="showAllInfo">
    <div class="otherNames">
      <div class="namesContainer">
        <h2 *ngFor="let name of selectedSubstance.completeInfo.nombres; let i = index" class="{{((i + 1) % 2) === 0? 'coloredName': ''}}">
            {{name}}
        </h2>
      </div>
    </div>

    <div class="allSectionInfo">
      <h3 [innerHTML]="selectedCompleteInfoSection.info"></h3>
    </div>

    <div class="completeSubstancesSections">
      <div class="SubstancesSectionContainer">
        <h5 *ngFor="let section of selectedSubstance.completeInfo.sections" [className]="selectedCompleteInfoSection === section? 'selectedCompleteSection': ''" (click)="selectedCompleteInfoSection = section">
          {{section.topic}}
        </h5>
      </div>
    </div>

    <div class="completeInfoWindow-source"><a href="https://www.echelecabeza.com/" target="_blank"></a></div>

    <div class="completeInfoWindow-close" (click)="closeOrOpenInfoPanel(false)"></div>
  </div>
</div>

<div class="scrollIcon" (click)="onMouseWheel($event)" #p5CanvasContainerModal></div>

<div class="information-logoAlex-warp"><div class="information-logoAlex-logo"><app-alex-logo></app-alex-logo></div><h5 class="information-logoAlex-text">EXPLORANDO</h5></div>


