.interactionContainer {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.listContainer {
  width: 33%;
  height: 70%;
  box-sizing: border-box;
  border-width: 0.2vw;
  display: flex;
  justify-content: center;
}

.listContainer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: auto;
  border-right: solid rgba(215, 215, 215, 1) 0.15vw;
}

.listContainer ul li {
  margin: 1vh 0 1vh 0.5vw;
  list-style-type: none;
}


.listContainer ul li h5 {
  margin: 0;
  padding: 0.2vh 1vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  text-align: right;

}

.liItemNoActive {
  color: rgba(31, 20, 15, 1);
}

.listContainer ul li:hover {
  background-color: rgba(232,115,35, 1);
  color: white;
  cursor: pointer;
}

.liItemActive {
  background-color: rgba(232,115,35, 1);
  color: white;
}

.characterContainer {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.characterGeneralContainer {
  position: relative;
  width: 100%;
  height: 30%;
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.characterAnimateDiv {
  height: 100%;
  max-width: 100%;
  background-size: 7200%;
}

.normalIdleAnimation {
  background-size: 7200%;
  animation: idle 4.7s steps(71) infinite;
}

.LSD--subida {
  background-size: 7200%;
  animation: LSD--subida 4.7s steps(71) infinite;
}

.LSD--viaje {
  background-size: 7200%;
  animation: LSD--viaje 4.7s steps(71) infinite;
}

.LSD--bajada {
  background-size: 7200%;
  animation: LSD--bajada 4.7s steps(71) infinite;
}

.EXTASIS--subida {
  background-size: 7200%;
  animation: EXTASIS--subida 4.7s steps(71) infinite;
}

.EXTASIS--viaje {
  background-size: 7200%;
  animation: EXTASIS--viaje 4.7s steps(71) infinite;
}

.EXTASIS--bajada {
  background-size: 7200%;
  animation: EXTASIS--bajada 4.7s steps(71) infinite;
}

.characterAnimateRun{
  animation: run 1s steps(13);
}

.characterAnimateJump{
  animation: jump 1s steps(13);
}


@keyframes idle {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: 100% center;
  }
}

@keyframes run {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes jump {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes LSD--subida {
  0% {
    background-position: 0 top;
  }

  100% {
    background-position: 100% top;
  }
}

@keyframes LSD--viaje {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: 100% center;
  }
}

@keyframes LSD--bajada {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 100% bottom;
  }
}

@keyframes EXTASIS--subida {
  0% {
    background-position: 0 top;
  }

  100% {
    background-position: 100% top;
  }
}

@keyframes EXTASIS--viaje {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: 100% center;
  }
}

@keyframes EXTASIS--bajada {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 100% bottom;
  }
}

.faseConsumoContainer {
  height: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faseConsumoContainer p {
  margin: 0 auto;
  padding-bottom: 0.3vh;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 1.3vw;
  text-align: center;
  color: rgba(232,115,35, 1);
  border-bottom: solid rgba(215, 215, 215, 1) 0.15vw;
}

.containerFaseDiv {
  width: 100%;
  height: 10%;
  flex-grow: 1;
  margin-top: 1.3vh;
  display: flex;
  justify-content: space-around;
}

.Fase {
  width: 32%;
  height: 100%;
  background: rgba(237, 134, 72, 0);
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 0.8vw;
  border-radius: 0.2vh;
}

.activeFase {
  background: rgba(232,115,35, 1);
  color: rgba(255, 255, 255, 1);
}

.containerFaseDiv button:hover {
  border: solid rgba(237, 134, 72, 0) 0.1vw;
  background: rgba(232,115,35, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.containerFaseDiv button:disabled {
  border: solid rgba(237, 134, 72, 0) 0.1vw;
  background: rgba(232,115,35, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: not-allowed;
}

.substanceContainer {
  width: 33%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /*border-left: solid rgba(215, 215, 215, 1);*/
  border-width: 0.2vw;
}

.substanceDiv {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 10%;
  flex-grow: 1;
}

.presentationSelectorContainer {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentationSelectorContainer h3{
  margin: 0;
  padding-bottom: 0.5vh;
  box-sizing: border-box;
  width: 80%;
  text-align: center;
  border-bottom: solid rgba(215, 215, 215, 1) 0.15vw;
  color: rgba(232, 115, 35, 1);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
}

.arrowsPresentationSelectorContainer {
  margin-top: 1vh;
  width: 80%;
  height: 10%;
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
}

.arrowsPresentationSelectorContainer div {
  margin: 1%;
  width: 10%;
}

.substancePresentationText {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.substancePresentationText h5 {
  margin: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: rgba(81, 80, 80, 1);
}

.arrowPresentation {
  flex-grow: 1;
}

.arrowPresentationLeft {
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.arrowPresentationLeft:hover {
  cursor: pointer;
}

.arrowPresentationRight {
  transform: rotate(180deg);
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.arrowPresentationRight:hover {
  cursor: pointer;
}

.presentationImageContainer {
  width: 100%;
  height: 100%;
}

.presentationImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leftArrow {
  float: left;
}

.substanceSelectorGeneralDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.substanceSelectorGeneralDiv h3 {
  margin: 0 0 0.5vh 0;
  padding-bottom: 0.5vh;
  width: 80%;
  box-sizing: border-box;
  border-bottom: solid  rgba(215, 215, 215, 1) 0.15vw;
  color:  rgba(232, 115, 35, 1);;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2vw;
  text-align: center;
}

.substanceSelectorGeneral {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  display: flex;
}
.leftArrow {
  width: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.leftArrow div {
  width: 40%;
  height: 30%;
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.leftArrow div:hover {
  cursor: pointer;
}

.rightArrow {
  width: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rightArrow div {
  width: 40%;
  height: 30%;
  transform: rotate(180deg);
  background: url("/assets/general/Arrow.svg") no-repeat center / contain;
}

.rightArrow div:hover {
  cursor: pointer;
}

.buttonProbar {
  flex-grow: 0.05;
  margin-top: 1vh;
  padding: 0.2vh 1vw;
  background: rgba(237, 134, 72, 0);
  box-sizing: border-box;
  border: solid rgba(232, 115, 35, 1) 0.1vw;
  color: rgba(232, 115, 35, 1);
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 0.8vw;
  border-radius: 0.5vh;
}

.buttonProbar:hover {
  border: solid rgba(237, 134, 72, 0) 0.1vw;
  background: rgba(232, 115, 35, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.buttonProbar:disabled {
  border: solid rgba(237, 134, 72, 0) 0.15vw;
  background: rgba(216, 116, 48, 0.7);
  color: rgba(255, 255, 255, 0.7);
}



.dosisContainer {
  width: 10%;
  flex-grow: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repeatedImages {
  margin: 1%;
  flex-grow: 1;
  min-width: 20%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.eyesInfoDiv {
  position: absolute;
  top: 1%;
  left: 35%;
  width: 10%;
  height: 15%;
  background: gray;
}

.heardInfoDiv {
  position: absolute;
  top: 1%;
  left: 45%;
  width: 10%;
  height: 15%;
  background: darkmagenta;
}

.headInfoDiv {
  position: absolute;
  top: 1%;
  left: 55%;
  width: 10%;
  height: 15%;
  background: rgba(232, 115, 35, 1);
}

#p5CanvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.panelInfoGeneralContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
}

.completeInfoWindowBlack {
  pointer-events: all;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.completeInfoWindow {
  pointer-events: all;
  position: relative;
  left: 12.5%;
  top: 15%;
  width: 75%;
  height: 70%;
  transform: translateY(90vh);
  background-color: rgba(244, 244, 244, 1);
  display: flex;
  flex-direction: row;
}

.completeInfoWindow-source {
  transition: 400ms ease-in-out;
  position: absolute;
  left: 24%;
  bottom: 4.5%;
  width: 46%;
  height: 6%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

.completeInfoWindow-source:hover {
  transition: 400ms ease-in-out;
  opacity: 1;
  cursor: pointer;
  background-color: rgba(216, 116, 48, 0.05);
}

.completeInfoWindow-source:hover > a {
  transition: 500ms ease-in-out;
  filter: grayscale(0);
}

.completeInfoWindow-source a {
  transition: 500ms ease-in-out;
  width: 70%;
  height: 70%;
  background: rgba(100,150,200,0.0) url("/assets/general/cabeza_logo.png") no-repeat center / contain;
  filter: grayscale(100%);
}

.completeInfoWindow-close {
  position: absolute;
  right: 2%;
  top: 5%;
  width: 4%;
  height: 5%;
  background: url("/assets/general/clear-icon.svg") no-repeat center / contain;
  opacity: 0.8;
}

.completeInfoWindow-close:hover {
  opacity: 1;
  cursor: pointer;
}

.otherNames {
  width: 10%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.namesContainer {
  padding: 0 1vw;
}

.namesContainer h2 {
  margin: 1vh 0;
  text-align: center;
  font-size: 3vw;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
}

.coloredName {
  background-color: rgba(232, 115, 35, 1);
  color: rgba(250, 250, 250, 1);
}

.allSectionInfo {
  width: 10%;
  height: 100%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.allSectionInfo h3 {
  padding: 1vh 1vw;
  margin: 0;
  font-size: 1vw;
  text-align: justify;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  max-height: 68%;
  overflow: auto;
}

.completeSubstancesSections {
  width: 10%;
  height: 100%;
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SubstancesSectionContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-left: solid rgba(200, 200, 200, 1);
  border-width: 0.2vw;
}

.SubstancesSectionContainer h5 {
  margin: 0.8vh 1vw;
  padding: 0.5vh 0.5vw;
  text-align: left;
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.SubstancesSectionContainer h5:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(232, 115, 35, 1);
}

.selectedCompleteSection {
  background-color: rgba(232, 115, 35, 1);
  color: white;
}

.scrollIcon {
  position: absolute;
  left: 46%;
  bottom: 5%;
  width: 8%;
  height: 12%;
}

.scrollIcon:hover {
  cursor: pointer;
}

.information-logoAlex-warp {
  position: absolute;
  left: 46%;
  top: 5%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.information-logoAlex-logo {
  flex-grow: 1;
  height: 10%;
}

.information-logoAlex-text {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.4vw;
  color: rgba(232, 115, 35, 1);
}
