.adminContainer {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 50%;
  height: 50%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLoginAdminContainer {
  width: 90%;
  height: 90%;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLoginAdminContainer-title {
  margin: 2vh 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
}

.contactoForms {
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: violet;
}

.contactoForms input {
  width: 100%;
  flex-grow: 2;
  margin: 1vh 0;
  box-sizing: border-box;
  padding: 1vh 1vw;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 0.15vw;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8)
}

.contactoForms button {
  flex-grow: 1;
  align-self: flex-end;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  font-weight: 500;
  background-color: transparent;
  border: solid rgba(216, 116, 48, 1) 0.2vw;
}

.contactoForms button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(216, 116, 48, 1);
}

.adminDashboard {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(200,50,150,0.4);
}

.selectorPanel {
  flex-grow: 1;
  width: 33%;
  margin-right: 0.3%;
  display: flex;
  flex-direction: column;
  background-color: rgba(30,90,200,1);

}

.selectorPanel-mails-wrap {
  flex-grow: 1;
  background-color: green;
  min-height: 40%;
  overflow: auto;
}

.selectorPanel-mails-wrap h2 {
  margin: 0 0 1vh 0;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
}

.selectorPanel-mails-wrap h3 {
  margin: 0;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.selectorPanel-mails-wrap h3:hover {
  color: rgba(232,115,35, 1);
  cursor: pointer;
}

.selectorPanel-chats-wrap {
  flex-grow: 1;
  background-color: blanchedalmond;
  min-height: 40%;
  overflow: auto;
}

.selectorPanel-chats-wrap h2 {
  margin: 0 0 1vh 0;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
}

.selectorPanel-chats-wrap h3 {
  margin: 0;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.selectorPanel-mails--active {
  color: rgba(232,115,35, 1);
}

.selectorPanel-chats-wrap h3:hover {
  color: rgba(232,115,35, 1);
  cursor: pointer;
}

.electorPanel-chats--active {
  color: rgba(232,115,35, 1);
}

.contentMessagesAndMails {
  flex-grow: 1;
  width: 60%;
  margin-left: 0.3%;
  overflow: auto;
  background-color: rgba(40,60,120,0.5);
}

.mails-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mails-mail-wrapper {
  flex-grow: 1;
  overflow: auto;
}

.chatContactContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-messages-wrap {
  flex-grow: 1;
  height: 50%;
  overflow: auto;
}

.messagesIfContainer-individualMessages-wrapper {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.messagesIfContainer-individualMessages-shape {
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  max-width: 45%;
}

.messagesIfContainer-individualMessages-shape h2 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.userContactMessage {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.adminMessage {
  align-self: flex-end;
  color: white;
  background-color: rgba(232,115,35, 1);
}

.inputChatContactDiv {
  height: 7%;
  display: flex;
}

.inputChatContactDiv input {
  padding-left: 1%;
  padding-right: 1%;
  flex-grow: 15;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 0.2vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1vw;
}

.inputChatContactDiv button {
  flex-grow: 1;
  margin-left: 1%;
  box-sizing: border-box;
  border: solid rgba(232,115,35, 1) 0.1vw;
  border-radius: 0.3vw;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.6)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  font-size: 1vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.inputChatContactDiv button:hover {
  background: rgba(232,115,35, 1) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgba(255,255,255,1)" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>') no-repeat center / contain;
  cursor: pointer;
}
