<div class="dropdownContainer" [@heightAnimation]="show"></div>

<div class="dropdownMenu" [@opacityAnimation]="show">
  <div class="flexChildDropdown lineDropdownDiv">
    <div class="lineDiv">
    </div>
  </div>
    <div class="flexChildDropdown menuDropdownMenu">
      <h3 routerLink="/Team" routerLinkActive="activeTextMenu" (click)="onClickRouterLink()">NOSOTROS</h3>
      <h3 routerLink="/Alex" routerLinkActive="activeTextMenu" (click)="onClickRouterLink()">SOBRE ALEX</h3>
      <h3 routerLink="/Contact" routerLinkActive="activeTextMenu" (click)="onClickRouterLink()">CONTACTO</h3>
      <h3 routerLink="/Evaluate" routerLinkActive="activeTextMenu" (click)="onClickRouterLink()">EVALUATE</h3>
    </div>
  <div class="flexChildDropdown lineDropdownDiv">
    <div class="lineDiv">
    </div>
  </div>
</div>
