.dropdownContainer {
  position: absolute;
  left: 6%;
  bottom: 0;
  width: 44%;
  height: 0;
  background-color: rgba(230, 230, 230, 1);
}

.dropdownMenu {
  position: absolute;
  left: 12.7%;
  top: 20%;
  width: 16.3%;
  height: 60%;
  background-color: rgba(40, 150, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  opacity: 0;
}

.flexChildDropdown {
  background-color: rgba(100,50,200, 0)
}

.lineDropdownDiv {
  height: 25%;
  width: 100%;
}

.lineDiv {
  width: 1%;
  height: 100%;
  margin-left: 12%;
  background-color: rgba(43, 43, 43, 1);
  border-radius: 100vh;
}

.menuDropdownMenu {
  flex-grow: 1;
  background-color: rgba(40,200,200,0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuDropdownMenu h3 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
}

.menuDropdownMenu h3:hover {
  color: rgba(232, 115, 35, 0.8);
  cursor: pointer;
}

.menuDropdownMenu h3:focus {
  outline: none;
}

.activeTextMenu {
  color: rgba(232, 115, 35, 0.8);
}
