.homeContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flexTitleAndMenuContainer {
  margin-top: 5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homeTitleContainer {
  padding: 0 0.25vw;
  background-color: rgba(237, 134, 72, 1);
}

.homeTitleContainer h1 {
  margin: auto;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  color: rgba(255, 255, 255, 1);
}

.menuHomeTitlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuHomeTitlesContainer div {
  cursor: pointer;
}

.menuHomeTitlesContainer div:hover > h1 {
  color: rgba(212, 132, 77, 1);
}
.menuHomeTitlesContainer div:hover > h2 {
  color: rgba(212, 132, 77, 1);
}

.jugarClass {
  margin: 0 0 1vh 0;
  font-size: 2.5vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: rgba(34, 26, 23, 1);
}

.explorarClass {
  margin: 1vh 0 0 0;
  font-size: 2.5vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: rgba(34, 26, 23, 1);
}


.animatedSubLine {
  height: 0.5vh;
  width: 0;
  background-color: rgba(212, 132, 77, 1);
  border-radius: 100vh;
}
