<div class="homeContainer">
  <div class="flexTitleAndMenuContainer">
    <div class="loginContainer">
      <app-alex-logo></app-alex-logo>
    </div>

    <div class="menuHomeTitlesContainer">
      <div (mouseenter)="onHoverTitle(0)" (mouseleave)="onHoverOutTile(0)" routerLink="/chat">
        <h2 class="jugarClass">JUGAR</h2>
        <div class="animatedSubLine" [@slideAnimation]="isHoverOne"></div>
      </div>
      <div (mouseenter)="onHoverTitle(1)" (mouseleave)="onHoverOutTile(1)" routerLink="/information">
        <h1 class="explorarClass">EXPLORAR</h1>
        <div class="animatedSubLine" [@slideAnimation]="isHoverTwo"></div>
      </div>
    </div>
  </div>
</div>


